html, body {
  font-size: 100%;
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: #2c2b3f;
  background-color: #fff;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #03A9F4;
}

button, input {
  background-color: #fff;
  border: 1px solid #c0c0c0;
  padding: 0.8rem;
  outline: 0;
}

button {
  min-height: 32px;
  border-radius: 100px;
  background-image: linear-gradient(153deg, #45c4b0, #1dd3a6);
  color: #fff;
  text-align: center;
  border: 0;
  padding: 0 10px;
}

main {
  display: block;
  height: 100%;
}

.error {
  color: red;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1 0 100%;
  flex-direction: row;
}

header {
  width: 1280px;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.18);
  padding: 18px 30px;
}

.ng-jabber-logo-text {
  font-size: 2.5rem;
  background: linear-gradient(180deg, #45c4b0, #BCE6E6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
