<header>
  <!-- <h1 class="ng-jabber-logo-text">Jabba</h1> -->
  <img src="img/logo.png" height="44" width="37" />
</header>
<section class="chat">
  <div class="container">
    <section class="users-container">
      <div class="users-header">
        <span class="badge">{{vm.totalUnreadCount}}</span> Inbox
        <button class="new-message" title="New message" ng-click="vm.newMessage()">+</button>
      </div>
      <ul>
        <li
          ng-class="{ active: v.jid === vm.activeContact.jid }"
          ng-repeat="(k, v) in vm.contacts"
          ng-click="vm.changeContactViewWithIndex($index)"
        >
          <span class="name">{{v.name}}</span>
          <span
            class="online-indicator"
            ng-class="{ 'red': !v.online, 'green': v.online }"
            ng-if="v.online"
            title="Online!"
          >
            &bull;
          </span>
          <span class="unread" ng-if="v.unreadMessageCount !== 0">({{v.unreadMessageCount}})</span>
        </li>
      </ul>
    </section>
    <section class="chat-container">
      <div class="recipient" ng-if="vm.activeContact">
        <span class="name">{{vm.activeContact.name}}</span>
        <span class="online-indicator"
          ng-class="{ 'red': !vm.activeContact.online, 'green': vm.activeContact.online }"
        >
          {{ vm.activeContact.online ? 'Online' : 'Offline' }}
        </span><br />
        <!-- <span class="grey">{{vm.activeContact.jid}}</span> -->
      </div>
      <div class="msgs">
        <div
          ng-class="{'message-info': v.fromJid === 'info', 'message-mine': v.fromJid === vm.user.jid, 'message-theirs': v.fromJid !== vm.user.jid}"
          ng-repeat="(k, v) in vm.activeContact.messages"
        >
          <span ng-bind-html="v.message"></span>
        </div>
      </div>
      <div class="msg-input">
        <form>
          <input type="text" placeholder="Type your message..." ng-model="vm.message" />
          <input type="hidden" ng-model="vm.recipient" />
          <button type="submit" ng-disabled="vm.message.trim() === ''" ng-click="vm.sendMessage()">Send</button>
        </form>
      </section>
    </div>
  </div>
</section>

<footer>
</footer>
