<section class="register-container">
  <div class="register-inner-container">
    <div class="register">
      <h1>Welcome to ngJabberd</h1>
      <p>
        XMPP Host: <input type="text" placeholder="http://localhost:5280/http-bind" ng-model="vm.hostname" />
      </p>
      <p>
        Username: <input type="text" placeholder="default_user" ng-model="vm.username" />
      </p>
      <p>
        Password: <input type="password" ng-model="vm.password" />
      </p>
      <p>
        <button ng-click="vm.login()">Login</button>
        <button ng-click="vm.register()">Register</button>
      </p>
    </div>
  </div>
</section>
